.container {
    border:1px solid slateblue;
    margin:auto;
    margin-top: 150px;
  
    width:400px;
    height:380px;
    font-size: 20px;
   
}


.label {
    text-align: start;
    /* border:1px solid red; */
   margin-left: 40px;
  
    
}

.input {
    width:80%;
    margin-top: 10px;
    margin-left: 40px;
    height:30px;
    text-align: center;
}

.btn {
    margin-top: 50px;
    margin-left: 300px;
}

.button {
margin-top: 20px;
margin-left: 40px;
width:80%;
height:25px;
background-color: rgb(10, 152, 240);
color:white;
border: none;


}

.icon {
    text-align: end;
    margin-top: 25px;
    margin-right: 33px;
   
}
.box {
    margin: auto;

}


.addBtn {
  margin-left: 25%;
  margin-top: 5%;
  width: 60px;
  padding: 5px;
  background-color: rgb(74, 74, 230);
  color:white;
  border: none;
  font-size: 14px;
}

.tableContainer {
    text-align: center;
   margin-left: 25%;
   margin-top: 50px;
   /* border: 1px solid #c9c5c2; */
   width:57%;
   box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
   border-radius:10px;
   

}
.tableContainer table thead tr {
    background-color: #f0eaea;
   
}

.tableContainer table thead tr th,
.tableContainer table tbody tr td{
    min-width: 203px;
    text-align: center;
    padding:7px;
    
    

}

.tableContainer table tbody tr td {
    border-bottom: 1px solid #c9c5c2;
}
.tableContainer table tbody tr{
   
}
